---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: { desc: string; href: string; title: string }[] = [
	{
		desc: "A probe that records the status of some of my machines",
		href: "https://probe.jontyding.com/",
		title: "🌡️ Probe",
	},
	{
		desc: "A forum trading information monitoring software",
		href: "https://github.com/langchou/informer/",
		title: "🦎 Informer",
	},
];

const friendLinks: { desc: string; href: string; title: string }[] = [
	{
		desc: "Visit Andy's blog for more insights.",
		href: "https://blog.zsh.homes",
		title: "Andy",
	},
	// Add more friend links here
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">hey there!</h1>
		<p class="mb-4">
			My name is Jonty. I am a backend developer who hopes to change something through programming.
			I am actively learning c++, golang, photography and life. You are welcome to follow my social media.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						{/* @ts-expect-error - issue with -> @astrojs/check@0.9.3 */}
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Extras</h2>
		<dl class="space-y-4">
			{
				cactusTech.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 sm:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="noreferrer" target="_blank">
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>

	<section class="mt-16">
		<h2 class="title mb-4 text-xl">FriendLink</h2>
		<dl class="space-y-4">
			{
				friendLinks.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 sm:flex-row" key={title}>
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="noreferrer" target="_blank">
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
</PageLayout>
